body {
  box-sizing: border-box;
  margin: 0;
}

li {
  list-style-type: none;
}

#logo {
  position: absolute;
  left: 50px;
  top: 45px;
  line-height: 5px;
}

#logo p {
  cursor: pointer;
}
#logo a {
  text-decoration: none;
  color: black;
}
#logo p:nth-child(1) {
  font-size: 25px;
  font-family: "Brush Script MT", sans-serif;
}
#logo p:nth-child(2) {
  font-size: 20px;
  font-family: "Brush Script MT", sans-serif;
}

#menu {
  width: 100%;
  height: 130px;
  text-align: center;
}
#menu ul li a {
  text-decoration: none;
  color: #6b6743;
}
#menu ul {
  margin-left: auto;
  margin-right: auto;
}
#menu ul li {
  display: inline-block;
  font-size: 20px;
  margin: 40px;
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
}

#nav {
  position: absolute;
  top: 40px;
  right: 50px;
  background-color: #6b6743;
  color: white;
  width: 50px;
  height: 50px;
  border: solid transparent 1px;
  border-radius: 360px;
}

.fa-bars {
  color: white;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#nav_min {
  width: 300px;
  height: 600px;
  background-color: #6b6743;
  position: absolute;
  right: 50px;
  top: 100px;
  display: none;
}
#nav_min ul {
  margin-top: -5px;
}
#nav_min ul li a {
  color: white;
  margin-top: 25px;
}

#main_header {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #6b6743;
}

#lips,
#lips_header,
#revitalization,
#augmentation,
#head,
#head_header,
#mesotherapy_face,
#mesotherapy_face_neck,
#mesotherapy_face_neck_cleavage,
#face,
#face_header,
#biorepeel,
#retix {
  width: 1000px;
  background-color: #f1f1f1;
}

#lips {
  height: 200px;
  margin: 10px auto;
}

#lips_header {
  font-size: 24px;
  color: #6b6743;
  font-weight: bold;
}
#lips_header span {
  position: relative;
  top: 28px;
  margin-left: 10px;
}

#head_header {
  font-size: 24px;
  color: #6b6743;
  font-weight: bold;
}
#head_header span {
  position: relative;
  top: 28px;
  margin-left: 10px;
}

#face_header {
  font-size: 24px;
  color: #6b6743;
  font-weight: bold;
}
#face_header span {
  position: relative;
  top: 28px;
  margin-left: 10px;
}

#lips_header,
#head_header,
#face_header {
  height: 80px;
  margin: 4px auto;
}

.name {
  height: 30px;
  width: 1000px;
  background-color: #aaa678;
}
.name span {
  position: relative;
  top: 5px;
}
.name span:nth-child(1) {
  left: 50px;
}
.name span:nth-child(2) {
  left: 405.58px;
}

#revitalization,
#augmentation,
#mesotherapy_face,
#mesotherapy_face_neck,
#mesotherapy_face_neck_cleavage,
#biorepeel,
#retix {
  height: 60px;
  border-top: 1px solid white;
  font-family: Calibri, sans-serif;
}
#revitalization span,
#augmentation span,
#mesotherapy_face span,
#mesotherapy_face_neck span,
#mesotherapy_face_neck_cleavage span,
#biorepeel span,
#retix span {
  position: relative;
  top: 20px;
  left: 50px;
  font-weight: bold;
}

#revitalization span:nth-child(2),
#augmentation span:nth-child(2),
#mesotherapy_face span:nth-child(2),
#mesotherapy_face_neck span:nth-child(2),
#mesotherapy_face_neck_cleavage span:nth-child(2),
#biorepeel span:nth-child(2),
#retix span:nth-child(2) {
  position: relative;
  font-weight: unset;
  color: #6b6743;
}

#revitalization span:nth-child(2) {
  left: 257.16px;
}

#augmentation span:nth-child(2) {
  left: 197.87px;
}

#mesotherapy_face span:nth-child(2) {
  left: 398.36px;
}

#mesotherapy_face_neck span:nth-child(2) {
  left: 345.98px;
}

#mesotherapy_face_neck_cleavage span:nth-child(2) {
  left: 281.12px;
}

#biorepeel span:nth-child(2) {
  left: 371.62px;
}

#retix span:nth-child(2) {
  left: 395.09px;
}

#head {
  height: 260px;
  margin: 45px auto;
}

#face {
  height: 200px;
  margin: 10px auto;
}

footer {
  height: 300px;
  width: 100%;
  margin-top: 100px;
  background-color: black;
}

@media only screen and (max-width: 1300px) {
  #menu ul li {
    display: none;
  }
  #menu #nav_min {
    display: none;
  }
  #menu #nav_min ul li {
    display: none;
  }
}
@media only screen and (max-width: 1020px) {
  #lips,
#lips_header,
#revitalization,
#augmentation,
#head,
#head_header,
#mesotherapy_face,
#mesotherapy_face_neck,
#mesotherapy_face_neck_cleavage,
#face,
#face_header,
#biorepeel,
#retix,
.name {
    width: 500px;
  }
}
@media only screen and (max-width: 520px) {
  #lips,
#lips_header,
#revitalization,
#augmentation,
#head,
#head_header,
#mesotherapy_face,
#mesotherapy_face_neck,
#mesotherapy_face_neck_cleavage,
#face,
#face_header,
#biorepeel,
#retix,
.name {
    width: 320px;
  }
  #lips_header,
#head_header,
#face_header {
    font-size: 18px;
    text-align: center;
  }
  .name span:nth-child(1) {
    left: 5px;
  }
  .name span:nth-child(2) {
    left: 221.58px;
  }
  #revitalization span,
#augmentation span,
#mesotherapy_face span,
#mesotherapy_face_neck span,
#mesotherapy_face_neck_cleavage span,
#biorepeel span,
#retix span {
    left: 5px;
  }
  #revitalization span:nth-child(2) {
    left: 77.16px;
  }
  #augmentation span:nth-child(2) {
    left: 17.87px;
  }
  #mesotherapy_face span:nth-child(2) {
    left: 218.36px;
  }
  #mesotherapy_face_neck span:nth-child(2) {
    left: 165.98px;
  }
  #mesotherapy_face_neck_cleavage span:nth-child(2) {
    left: 101.12px;
  }
  #biorepeel span:nth-child(2) {
    left: 191.62px;
  }
  #retix span:nth-child(2) {
    left: 215.09px;
  }
}

/*# sourceMappingURL=price.css.map */
